body {
    font: 90% Verdana, Arial, sans-serif;
    background: #fff none;
    color: #333;
    margin-top: 5px
}

img, a img {
    border: 0
}

label {
    cursor: pointer
}

sup {
    font-size: 65%
}

dt {
    font-weight: bold
}

canvas {
    -ms-touch-action: double-tap-zoom
}

h1, h2, h3, h4 {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    clear: both
}

h1 {
    font-size: 130%;
    padding: 0;
    margin: 0
}

h1 a {
    color: #00f;
    text-decoration: none
}

h1 a:hover {
    text-decoration: underline
}

h2 {
    color: #465ca8;
    font-size: 108%;
    text-align: left;
    vertical-align: middle;
    background: #eee none;
    padding: 2px 5px 1px;
    margin: 1.2em 0 4px 0;
    border-bottom: 1px solid #ccc
}

h2.first {
    margin-top: 0
}

h2 a:link, h2 a:visited {
    color: #465ca8
}

h2 a:link:hover, h2 a:visited:hover {
    color: #00f;
    text-decoration: underline
}

h3 {
    font-size: 108%
}

h4 {
    font-size: 100%
}

p {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto
}

#header {
    white-space: nowrap;
    margin-bottom: 1px
}

#header h1 {
    clear: none;
    display: inline;
    font: bold 12px Arial, Verdana, sans-serif
}

#header h1 a {
    color: #333
}

#header h1 img {
    vertical-align: middle
}

.apaerror #header {
    border-bottom: 1px solid #465ca8;
    margin-bottom: .3em
}

#tagline {
    font-weight: normal;
    font-style: italic;
    color: #666;
    margin-left: 1em
}

#toolbarcontainer {
    float: right;
    margin: 0 0 0 1em
}

#toolbar {
    font: 85% Arial, Verdana, sans-serif;
    font-variant: small-caps;
    list-style: none;
    margin: 0 0 .65em 0;
    padding: 0;
    text-align: right
}

#toolbar li {
    display: inline;
    border-right: 1px solid #aaa;
    padding: 0 .6em 0 .4em
}

#toolbar li.last {
    border-right: 0;
    padding-right: 0
}

#toolbar a:link, #toolbar a:visited {
    color: #465ca8;
    text-decoration: none
}

#toolbar a:hover {
    color: #069;
    text-decoration: underline
}

#basicquery {
    background: #eee none;
    font-size: 75%;
    padding: .4em .5em;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px
}

#basicquery form {
    margin: 0
}

#basicquery label, #basicquery input, #basicquery select {
    font-size: 85%
}

#pagetoc, .textbox {
    background: #eee none;
    border: 1px solid #ddd;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: .2em .4em .4em
}

#pagetoc h2, .textbox h2 {
    border-bottom: 0;
    background: 0;
    color: #465ca8;
    margin: 0 0 .1em 0;
    padding: 0
}

.textbox ul {
    border: 0;
    margin: 0 0 .5em;
    padding-left: 1.5em;
    list-style: url("images/rarrow_7.v14850.png") square
}

.textbox p {
    margin-bottom: .5em
}

#pagetoc {
    clear: both;
    margin: .5em 0 1em 0;
    font-size: 82%;
    width: 25em
}

#pagetoc ol {
    margin: 0;
    padding-left: 2.8em
}

.morelesslink {
    color: #00f;
    display: block;
    margin: .5em 0;
    outline: 0
}

#sectionmenu {
    margin: 1em 4%;
    padding: 1em 1.5em;
    max-width: 55em
}

#sectionmenu dl {
    margin: 0
}

#sectionmenu dd {
    font-size: 90%;
    margin-bottom: .6em
}

#sectionmenu img {
    vertical-align: bottom
}

.maxwidth {
    width: 100%
}

.disabled, .disabled .text, #queryform legend.disabled {
    color: #bbb;
    cursor: default !important
}

.disabled img {
    opacity: .2
}

input[type=submit].disabled, input[type=submit].disabled:hover {
    background: #eee;
    border-color: #bbb;
    color: #bbb
}

.match {
    background: #ff0
}

.hide {
    display: none
}

.nowrap {
    white-space: nowrap
}

.metanote {
    font-style: italic
}

.errormessage {
    margin: .4em auto;
    font: bold 110% Helvetica, Arial, sans-serif
}

.errormessage .text {
    padding: 2px 15px;
    background: #fc0 none;
    color: #900;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px
}

.nodatamessage {
    clear: both;
    font-style: italic;
    margin-bottom: .25em;
    text-align: center
}

.filterbox+.nodatamessage {
    margin-top: 1em
}

.warning {
    font-weight: bold;
    color: red
}

.correctionrequest {
    margin: 5px 0;
    text-align: right
}

.searchsuggestions {
    font-size: 85%;
    font-style: italic
}

.searchsuggestions ul {
    border: 1px solid #eee;
    list-style: url("images/rarrow_7.v14850.png") disc;
    padding-top: 5px;
    padding-bottom: 5px
}

div.curationrequestwrapper {
    text-align: center
}

.smalltext {
    font-size: 77%
}

.righttext {
    text-align: right
}

.centertext {
    text-align: center
}

.alignrt {
    float: right;
    text-align: right;
    display: inline;
    margin-right: .5em
}

.alignrt img {
    vertical-align: middle
}

.leftimg {
    display: inline;
    clear: both;
    margin: 0 1em .5em 0;
    float: left
}

.rightimg {
    display: inline;
    clear: both;
    margin: 0 0 .5em 1em;
    float: right
}

.newflag {
    font-size: 75%;
    font-variant: small-caps;
    background: #ff0 none
}

.taxonlink {
    font-style: italic
}

#homepersonnel dl, #helpglossary dl, #resourcelist dl, #citations dl {
    margin-left: 2em
}

#resourcelist dd {
    margin-bottom: .25em
}

wbr:after {
    content: "\00200B"
}

.topactorchart {
    margin-top: 10px
}

.refcit {
    font-size: 82%
}

.inlineform {
    display: inline
}

#nav {
    background: #465ca8 none;
    height: 1.8em;
    min-width: 800px;
    position: relative;
    z-index: 99
}

.sf-menu, .sf-menu * {
    margin: 0;
    padding: 0;
    list-style: none
}

.sf-menu li {
    position: relative
}

.sf-menu ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 99
}

.sf-menu>li {
    float: left;
    height: 1.8em
}

.sf-menu li:hover>ul, .sf-menu li.sfHover>ul {
    display: block
}

.sf-menu a {
    display: block;
    position: relative
}

.sf-menu ul ul {
    top: 0;
    left: 100%
}

.sf-arrows .sf-with-ul {
    padding-right: 2.5em;
    *padding-right: 1em
}

.sf-arrows .sf-with-ul:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 1em;
    margin-top: -3px;
    height: 0;
    width: 0;
    border: 5px solid transparent;
    border-top-color: #fff;
    border-top-color: rgba(255, 255, 255, .5)
}

.sf-arrows>li>.sf-with-ul:focus:after, .sf-arrows>li:hover>.sf-with-ul:after, .sf-arrows>.sfHover>.sf-with-ul:after {
    border-top-color: white
}

.sf-arrows ul .sf-with-ul:after {
    margin-top: -5px;
    margin-right: -3px;
    border-color: transparent;
    border-left-color: #fff;
    border-left-color: rgba(255, 255, 255, .5)
}

.sf-arrows ul li>.sf-with-ul:focus:after, .sf-arrows ul li:hover>.sf-with-ul:after, .sf-arrows ul .sfHover>.sf-with-ul:after {
    border-left-color: white
}

.sf-menu {
    float: left;
    margin-bottom: .3em
}

.sf-menu ul {
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .2);
    min-width: 12em;
    *width: 12em
}

.sf-menu a {
    font: 90% Arial, Verdana, sans-serif;
    padding: .4em 1em;
    text-decoration: none;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-top: 1px solid rgba(255, 255, 255, .5);
    zoom: 1
}

.sf-menu a, .sf-menu a:visited {
    color: #fff
}

.sf-menu li li a {
    border-top: 1px solid #fff
}

.sf-menu li.current>a {
    color: #fc0;
    font-weight: bold;
    background: url("images/rarrow_9_fc0.v14850.png") left center no-repeat
}

.sf-menu li {
    background: #465ca8 none;
    white-space: nowrap;
    *white-space: normal;
    -webkit-transition: background .2s;
    transition: background .2s
}

.sf-menu ul li, .sf-menu ul ul li {
    background: #465ca8 none
}

.sf-menu li:hover, .sf-menu li.sfHover {
    background: #09f none;
    -webkit-transition: none;
    transition: none
}

#subnav {
    width: 100%;
    line-height: normal;
    white-space: nowrap;
    clear: both;
    font-size: 72%;
    font-weight: bold;
    margin-bottom: .5em;
    border-bottom: 4px solid #aaa;
    float: left
}

#subnav ul {
    list-style: none;
    margin: 0;
    padding: 10px 10px 0 5px
}

#subnav li {
    display: inline;
    margin: 0;
    padding: 0
}

#subnav a {
    float: left;
    margin: 0;
    padding: 0 0 0 6px;
    text-decoration: none;
    background: url("images/tab_sprites.v14850.png") no-repeat left top
}

#subnav span {
    float: left;
    display: block;
    padding: 5px 9px 4px 1px;
    color: #333;
    background: url("images/tab_sprites.v14850.png") no-repeat 100% -218px;
    text-align: center
}


/*\*/

#subnav span {
    float: none
}


/**/

#subnav a:hover span {
    color: #333;
    background-position: 100% -260px
}

#subnav a:hover {
    background-position: 0 -42px
}

#subnav .active span, #subnav .active:hover span {
    background-position: 100% -302px;
    cursor: default
}

#subnav .active, #subnav .active:hover {
    background-position: 0 -84px;
    cursor: default
}

#subnav .disabled span, #subnav .disabled:hover span {
    background-position: 100% -344px;
    color: #ccc;
    cursor: default
}

#subnav .disabled, #subnav .disabled:hover {
    background-position: 0 -126px;
    cursor: default
}

.navribbon {
    background: #ddd none;
    border: 1px solid #ccc;
    font-size: 82%;
    margin: 1em 0;
    padding: 3px;
    text-align: center
}

.navribbon li {
    display: inline;
    padding: 1px 3px;
    margin: 0
}

.navribbon .selected {
    border-top: 4px solid #930;
    font-weight: bold
}

.jumpnav {
    font-weight: normal;
    font-size: 77%;
    margin: 1em
}

a.footnote {
    font-size: 65%;
    vertical-align: top;
    padding-left: 1px
}

a.footnote:link, a.footnote:visited {
    color: #00f;
    background-color: transparent;
    text-decoration: none
}

a.footnote:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline
}

a.footnote:active, a.footnote:focus {
    color: #fff;
    background-color: #00f;
    text-decoration: none
}

.footnotes {
    font-size: 77%
}

.footnotes dt {
    font-weight: normal
}

.datatable, .graphtable {
    clear: both;
    border-collapse: expression('separate', cellSpacing='1px')
}

.datatable {
    width: 100%;
    border: 1px solid #ccc;
    border-spacing: 1px
}

.graphtable {
    border-spacing: 1px 0;
    width: auto
}

.graphtable+.exportlinks {
    margin-top: .8em
}

#basic .datatable, #hierarchies .datatable, #browseterms {
    border: 0
}

.datatable td {
    border-style: none;
    padding: 1px 3px;
    vertical-align: top
}

.graphtable td {
    border-style: none;
    padding: 0 3px 1px;
    vertical-align: top
}

.datatable th, .graphtable th {
    border-style: none;
    color: #333;
    font-family: Helvetica, Arial, Verdana, sans-serif;
    text-align: center;
    vertical-align: bottom
}

.datatable th {
    background: #ccc none;
    padding: 1px 3px 2px
}

.graphtable th {
    background: #fff none;
    border-bottom: 1px solid #000;
    font-style: italic;
    font-weight: normal;
    padding: 0 0 .3em
}

.graphtable .vaxisheader {
    border-bottom: 0
}

.datatable a, .graphtable a, #specialterms a {
    text-decoration: none
}

.datatable a:hover, .graphtable a:hover, #specialterms a:hover {
    text-decoration: underline
}

th.rowhead {
    padding: 1px 3px 1px 5px;
    text-align: right;
    vertical-align: top;
    white-space: nowrap
}

.datatable .datatable {
    width: auto
}

.datatable .datatable th {
    background: #eee;
    font-style: italic;
    font-weight: normal
}

.datatable dl {
    font-size: 90%;
    margin: .2em
}

.datatable dt {
    font-style: italic;
    font-weight: normal
}

.barcell img {
    vertical-align: bottom
}

.barcell {
    font-size: 77%;
    width: 255px;
    min-width: 255px;
    white-space: nowrap
}

.graphtable .barcell {
    border-left: 1px solid #000;
    padding-left: 0;
    vertical-align: middle
}

.numbercell {
    width: 6em;
    text-align: right
}

.rownum {
    background: #eee none;
    font-family: Helvetica, Arial, Verdana, sans-serif;
    text-align: right;
    white-space: nowrap
}

.iconcol {
    width: 11px
}

.diseasetableiconcol {
    padding: 2px 1px;
    text-align: center
}

td.vaxisval {
    padding-right: .7em;
    text-align: right
}

.inferencenet {
    font-size: 77%
}

.gridrow0, .gridrow1, .gridrow2, .gridrow3 {
    vertical-align: top
}

.gridrow1 {
    background: #eee none
}

.gridrow2 {
    background: #fff none
}

.gridrow3 {
    background: #ccc none
}

.datatable ul, .datatable ol {
    margin: .1em 0
}

.datatable ul {
    list-style-type: circle;
    padding-left: 1.5em
}

.filelisting td {
    background: #eee none;
    font-family: monospace;
    padding: .1em .5em;
    vertical-align: text-top
}

button, input[type="reset"], input[type="submit"], .linkbutton {
    background: #eee none;
    border: 1px #888 solid;
    color: #333;
    font-weight: bold;
    padding: 2px 6px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px
}

button img {
    margin: 0 0 -3px 0 !important;
    padding: 1px 0
}

.linkbutton {
    cursor: pointer;
    display: inline-block;
    font: bold 82% "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    line-height: 130%;
    padding: 2px 7px;
    text-decoration: none
}

.vocselect {
    display: none;
    margin: 0;
    padding: 0 2px;
    white-space: nowrap
}

.vocselectcell {
    width: 3em;
    white-space: nowrap
}

button:hover, input[type="reset"]:hover, input[type="submit"]:hover, a.linkbutton:hover, a.linkbutton:active {
    background: #465ca8 none;
    border-color: #000;
    color: #fff;
    text-decoration: none
}

.buttonlink, .buttonlink:hover {
    background: 0;
    border: 0;
    color: #00f;
    cursor: pointer;
    font: 100% Verdana, Arial, sans-serif;
    padding: 0
}

.buttonlink:hover {
    text-decoration: underline
}

.buttonlink img {
    opacity: .8
}

.buttonlink:hover img {
    background: #ff0 none;
    opacity: 1
}

img.imagelink {
    -webkit-box-shadow: 1px 1px 2px rgba(52, 50, 50, 0.75);
    -moz-box-shadow: 1px 1px 2px rgba(52, 50, 50, 0.75);
    box-shadow: 1px 1px 2px rgba(52, 50, 50, 0.75);
    cursor: pointer;
    opacity: .8
}

img.imagelink:hover {
    -webkit-box-shadow: 0 0 3px 3px rgba(255, 255, 0, .4);
    -moz-box-shadow: 0 0 3px 3px rgba(255, 255, 0, .4);
    box-shadow: 0 0 3px 3px rgba(255, 255, 0, .4);
    opacity: 1
}

.increase {
    color: red
}

.decrease {
    color: #070
}

.affect {
    color: #960
}

.notaffect {
    color: #90f
}

.googlebarchart g g rect {
    cursor: pointer
}

#queryform {
    background: #eee none;
    border: 1px solid #ddd;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin: 1em;
    padding: .5em .3em;
    white-space: nowrap;
    width: 48em
}

.fm, .fm-multi {
    clear: both;
    margin-bottom: 2px
}

#queryform .cboxlist label, #queryform .fm-multi label {
    float: none;
    margin: 0
}

.cboxlist {
    float: left;
    font-size: 82%;
    margin-right: .3em;
    padding-top: .2em
}

#fmActionDegreeTypes {
    background: #ddd url("images/bracketrt61.v14850.png") no-repeat center right;
    min-height: 61px;
    padding: .2em 13px .2em 0
}

.fm-submit {
    clear: both;
    margin: 2px auto 2px 243px
}

#queryform .formnote {
    font-size: 77%;
    font-weight: normal
}

#queryform img {
    vertical-align: middle
}

#queryform .highlight {
    color: #930;
    background: #ff9 none
}

#queryform .errormessage {
    text-align: center
}

.stepnumber {
    background: #f63 none;
    color: #fff;
    padding: 1px 7px;
    font: bold 120% Helvetica, Arial, sans-serif;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px
}

.advancedquery fieldset {
    border: 1px solid #bbb;
    margin: .5em 0;
    padding: .5em 0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px
}

#queryform legend {
    margin: .3em 0;
    padding: 0 .4em;
    color: #036;
    font-weight: bold
}

#bqresultstatus {
    font-weight: bold;
    margin: 1em auto .5em;
    text-align: center
}

#bqcounts {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0 auto;
    padding: 2px;
    width: auto
}

#bqcounts a {
    display: block;
    font-weight: bold;
    padding: 6px;
    text-decoration: none
}

#bqcounts td {
    background: #fff none;
    border-top: 1px solid #ccc;
    vertical-align: middle;
    color: #999;
    padding: 6px 8px
}

#bqcounts .numbercell {
    width: auto
}

#bqcounts img {
    opacity: .3
}

#bqcounts .activecell {
    background: #ddd none;
    color: #333;
    padding: 0
}

#bqcounts tr:hover .activecell {
    background: #ccc none;
    text-decoration: underline
}

#bqcounts .activecell img {
    opacity: .7
}

#bqcounts tr:hover .activecell img {
    opacity: 1
}

.actiontypeicon {
    border: 1px #000 solid;
    color: #fff;
    font: bold 11px Helvetica, Arial, sans-serif;
    text-decoration: none
}

a.actiontypeicon:hover {
    text-decoration: none
}

.actiontypeiconm {
    background: #090 none;
    padding: 0 2px
}

.actiontypeicone {
    color: #000;
    background: #FF0 none;
    padding: 0 2px
}

.actiontypeicont {
    background: #93c none;
    padding: 0 4px 0 3px
}

.pgrange, .paging {
    background: #ccc none;
    color: #000;
    font-size: 85%;
    margin: 0;
    padding: .2em .3em
}

.paging {
    line-height: 2em;
    list-style: none;
    padding-top: .1em
}

.paging li {
    border: 1px solid #888;
    border-right: 0;
    display: inline;
    padding: .3em .4em
}

.paging li.last {
    border-right: 1px solid #888
}

.paging a {
    text-decoration: none
}

.paging li:hover, .paging a:hover, .paging .currentpg {
    background-color: #eee
}

.paging .disabledpg:hover, .paging .disabledpg {
    background-color: transparent;
    color: #999
}

.paging .sprite {
    padding-left: 14px
}

.termbox {
    background: #ffc none;
    border: 1px solid #eee;
    clear: both;
    font-size: 85%;
    margin: 0 0 3px;
    padding: 5px
}

.termbox .prompt {
    font-family: Helvetica, Arial, sans-serif
}

.termbox .couplet {
    background-color: #eee;
    border: 1px solid #ccc;
    padding: .15em .35em
}

.termbox .field {
    font-variant: small-caps
}

.termbox .operator, .termbox .querytype {
    font-style: italic
}

.termbox .value {
    color: #c09
}

#history .termbox {
    background: 0;
    border: 0;
    margin: 0
}

.filterbox {
    background: #eee none;
    border: 1px solid #ccc;
    font-size: 90%;
    margin: 0;
    padding: 4px 8px
}

.filterboxactive {
    background: #ffa none
}

.filterbox h3 {
    margin: 0 0 .3em
}

.filterbox .label, .filterbox label {
    font-style: italic
}

.filterbox .values {
    font-family: monospace;
    margin: 3px 1em
}

.filterbox a:hover {
    background-color: #ff9
}

.filterbox img {
    vertical-align: text-top
}

#filterqueryform {
    margin: 0
}

#filterqueryform .inlinefs {
    display: inline-block;
    display: inline\9;
    padding: .3em
}

.pagehelplink {
    margin-bottom: 2px;
    text-align: right
}

.pagehelplink+p {
    margin-top: 0
}

.helplink, .helplinkajax {
    display: inline-block
}

.morelink {
    font-size: 85%
}

.morelink a:link, .morelink a:visited {
    font-style: italic
}

#diseasebasicDetail .acclist .primaryAcc, #genebasicDetail .acclist .primaryAcc, #gobasicDetail .acclist .primaryAcc {
    font-weight: bold
}

.toplink a:link, .toplink a:visited, .toplink a:link:hover, .toplink a:visited:hover {
    color: #465ca8;
    text-decoration: none;
    font-weight: normal;
    font-size: 90%
}

.toplink a:link:hover, .toplink a:visited:hover {
    text-decoration: underline
}

#footer {
    display: block;
    font-size: 75%;
    margin-top: 3em;
    border-top: 1px solid #465ca8;
    clear: both
}

#footernav {
    background: #eef none;
    border-bottom: 1px solid #ddd;
    font: bold 100% Helvetica, Arial, sans-serif;
    margin-bottom: .3em;
    padding: 4px 0;
    text-align: center;
    vertical-align: middle
}

#footer img {
    vertical-align: middle
}

#footernav a:link, #footernav a:visited {
    text-decoration: none
}

#footernav a:link:hover, #footernav a:visited:hover {
    text-decoration: underline
}

#footer .legend {
    font-size: 90%;
    background: #eeeef8 none;
    border-bottom: 1px solid #ddd;
    padding: .4em;
    margin: 0;
    text-align: center
}

#supporters {
    float: right
}

#supporters .sprite {
    display: inline-block;
    padding-left: 2px
}

.examples {
    padding: 3px;
    background: #eee none;
    margin: .5em 2em 1em 2em
}

.actionvoclist {
    margin-left: 2em
}

.actionvoclist dt {
    font-style: italic
}

.actionvoclist dd {
    margin-left: 5em
}

.helplink, .helplinkajax, .export, .sprite {
    background: transparent url("images/sprites.v14850.png") no-repeat top left
}

.sprite-csv_icon {
    background-position: 0 0;
    width: 15px;
    height: 14px
}

.sprite-excel_icon {
    background-position: 0 -64px;
    width: 15px;
    height: 14px
}

.sprite-first_icon_off {
    background-position: 0 -128px;
    width: 11px;
    height: 10px
}

.sprite-first_icon_on {
    background-position: 0 -188px;
    width: 11px;
    height: 10px
}

.sprite-help_icon {
    background-position: 0 -248px;
    width: 10px;
    height: 10px
}

.sprite-img_icon {
    background-position: 0 -308px;
    width: 15px;
    height: 14px
}

.sprite-json_icon {
    background-position: 0 -372px;
    width: 15px;
    height: 14px
}

.sprite-last_icon_off {
    background-position: 0 -436px;
    width: 11px;
    height: 10px
}

.sprite-last_icon_on {
    background-position: 0 -496px;
    width: 11px;
    height: 10px
}

.sprite-mdibl_logo {
    background-position: 0 -556px;
    width: 64px;
    height: 35px
}

.sprite-ncsu_logo {
    background-position: 0 -641px;
    width: 100px;
    height: 35px
}

.sprite-next_icon_off {
    background-position: 0 -726px;
    width: 10px;
    height: 10px
}

.sprite-next_icon_on {
    background-position: 0 -786px;
    width: 10px;
    height: 10px
}

.sprite-niehs_logo {
    background-position: 0 -846px;
    width: 29px;
    height: 35px
}

.sprite-nlm_logo {
    background-position: 0 -931px;
    width: 35px;
    height: 35px
}

.sprite-obo_icon {
    background-position: 0 -1016px;
    width: 15px;
    height: 14px
}

.sprite-pdf_icon {
    background-position: 0 -1080px;
    width: 14px;
    height: 14px
}

.sprite-previous_icon_off {
    background-position: 0 -1144px;
    width: 10px;
    height: 10px
}

.sprite-previous_icon_on {
    background-position: 0 -1204px;
    width: 10px;
    height: 10px
}

.sprite-tsv_icon {
    background-position: 0 -1264px;
    width: 15px;
    height: 14px
}

.sprite-video_icon {
    background-position: 0 -1328px;
    width: 12px;
    height: 13px
}

.sprite-vizgraph_icon {
    background-position: 0 -1391px;
    width: 15px;
    height: 15px
}

.sprite-xml_icon {
    background-position: 0 -1456px;
    width: 15px;
    height: 14px
}

.exportlinks {
    font-size: 90%;
    font-weight: bold;
    margin: 0;
    padding: 2px 0
}

.export {
    cursor: pointer;
    padding: 0 4px 1px 20px;
    text-decoration: underline
}

.exportlinks a {
    color: #333
}

.exportlinks button {
    color: inherit;
    font-weight: bold
}

.exportlinks button:hover, .exportlinks a:hover {
    color: #930;
    font-weight: bold
}

.exportlinks .label a {
    text-decoration: underline
}

th.sortable {
    padding-right: 12px
}

th.sorted {
    background: #ccf none
}

th.sorted a, th.sortable a {
    display: block;
    width: auto
}

th.sortable a {
    background: url("images/sort_arrow_off.v14850.gif") no-repeat right center;
    padding-right: 6px
}

th.order1 a {
    background: url("images/sort_arrow_down.v14850.gif") no-repeat right center
}

th.order2 a {
    background: url("images/sort_arrow_up.v14850.gif") no-repeat right center
}


/*! jQuery UI - v1.10.3 - 2013-05-08
* http://jqueryui.com
* Includes: jquery.ui.core.css, jquery.ui.resizable.css, jquery.ui.accordion.css, jquery.ui.autocomplete.css, jquery.ui.button.css, jquery.ui.dialog.css, jquery.ui.menu.css, jquery.ui.spinner.css, jquery.ui.tabs.css, jquery.ui.tooltip.css
* To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Verdana%2CArial%2Csans-serif&fwDefault=normal&fsDefault=1em&cornerRadius=4px&bgColorHeader=cccccc&bgTextureHeader=highlight_soft&bgImgOpacityHeader=75&borderColorHeader=aaaaaa&fcHeader=222222&iconColorHeader=222222&bgColorContent=ffffff&bgTextureContent=flat&bgImgOpacityContent=75&borderColorContent=aaaaaa&fcContent=222222&iconColorContent=222222&bgColorDefault=e6e6e6&bgTextureDefault=glass&bgImgOpacityDefault=75&borderColorDefault=d3d3d3&fcDefault=555555&iconColorDefault=888888&bgColorHover=dadada&bgTextureHover=glass&bgImgOpacityHover=75&borderColorHover=999999&fcHover=212121&iconColorHover=454545&bgColorActive=ffffff&bgTextureActive=glass&bgImgOpacityActive=65&borderColorActive=aaaaaa&fcActive=212121&iconColorActive=454545&bgColorHighlight=fbf9ee&bgTextureHighlight=glass&bgImgOpacityHighlight=55&borderColorHighlight=fcefa1&fcHighlight=363636&iconColorHighlight=2e83ff&bgColorError=fef1ec&bgTextureError=glass&bgImgOpacityError=95&borderColorError=cd0a0a&fcError=cd0a0a&iconColorError=cd0a0a&bgColorOverlay=aaaaaa&bgTextureOverlay=flat&bgImgOpacityOverlay=0&opacityOverlay=30&bgColorShadow=aaaaaa&bgTextureShadow=flat&bgImgOpacityShadow=0&opacityShadow=30&thicknessShadow=8px&offsetTopShadow=-8px&offsetLeftShadow=-8px&cornerRadiusShadow=8px
* Copyright 2013 jQuery Foundation and other contributors Licensed MIT */

.ui-helper-hidden {
    display: none
}

.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

.ui-helper-reset {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    line-height: 1.3;
    text-decoration: none;
    font-size: 100%;
    list-style: none
}

.ui-helper-clearfix:before, .ui-helper-clearfix:after {
    content: "";
    display: table;
    border-collapse: collapse
}

.ui-helper-clearfix:after {
    clear: both
}

.ui-helper-clearfix {
    min-height: 0
}

.ui-helper-zfix {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    filter: Alpha(Opacity=0)
}

.ui-front {
    z-index: 100
}

.ui-state-disabled {
    cursor: default !important
}

.ui-icon {
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat
}

.ui-widget-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.ui-resizable {
    position: relative
}

.ui-resizable-handle {
    position: absolute;
    font-size: .1px;
    display: block
}

.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle {
    display: none
}

.ui-resizable-n {
    cursor: n-resize;
    height: 7px;
    width: 100%;
    top: -5px;
    left: 0
}

.ui-resizable-s {
    cursor: s-resize;
    height: 7px;
    width: 100%;
    bottom: -5px;
    left: 0
}

.ui-resizable-e {
    cursor: e-resize;
    width: 7px;
    right: -5px;
    top: 0;
    height: 100%
}

.ui-resizable-w {
    cursor: w-resize;
    width: 7px;
    left: -5px;
    top: 0;
    height: 100%
}

.ui-resizable-se {
    cursor: se-resize;
    width: 12px;
    height: 12px;
    right: 1px;
    bottom: 1px
}

.ui-resizable-sw {
    cursor: sw-resize;
    width: 9px;
    height: 9px;
    left: -5px;
    bottom: -5px
}

.ui-resizable-nw {
    cursor: nw-resize;
    width: 9px;
    height: 9px;
    left: -5px;
    top: -5px
}

.ui-resizable-ne {
    cursor: ne-resize;
    width: 9px;
    height: 9px;
    right: -5px;
    top: -5px
}

.ui-accordion .ui-accordion-header {
    display: block;
    cursor: pointer;
    position: relative;
    margin-top: 2px;
    padding: .5em .5em .5em .7em;
    min-height: 0
}

.ui-accordion .ui-accordion-icons {
    padding-left: 2.2em
}

.ui-accordion .ui-accordion-noicons {
    padding-left: .7em
}

.ui-accordion .ui-accordion-icons .ui-accordion-icons {
    padding-left: 2.2em
}

.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
    position: absolute;
    left: .5em;
    top: 50%;
    margin-top: -8px
}

.ui-accordion .ui-accordion-content {
    padding: 1em 2.2em;
    border-top: 0;
    overflow: auto
}

.ui-autocomplete {
    position: absolute;
    top: 0;
    left: 0;
    cursor: default
}

.ui-button {
    display: inline-block;
    position: relative;
    padding: 0;
    line-height: normal;
    margin-right: .1em;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    overflow: visible
}

.ui-button, .ui-button:link, .ui-button:visited, .ui-button:hover, .ui-button:active {
    text-decoration: none
}

.ui-button-icon-only {
    width: 2.2em
}

button.ui-button-icon-only {
    width: 2.4em
}

.ui-button-icons-only {
    width: 3.4em
}

button.ui-button-icons-only {
    width: 3.7em
}

.ui-button .ui-button-text {
    display: block;
    line-height: normal
}

.ui-button-text-only .ui-button-text {
    padding: .4em 1em
}

.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text {
    padding: .4em;
    text-indent: -9999999px
}

.ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text {
    padding: .4em 1em .4em 2.1em
}

.ui-button-text-icon-secondary .ui-button-text, .ui-button-text-icons .ui-button-text {
    padding: .4em 2.1em .4em 1em
}

.ui-button-text-icons .ui-button-text {
    padding-left: 2.1em;
    padding-right: 2.1em
}

input.ui-button {
    padding: .4em 1em
}

.ui-button-icon-only .ui-icon, .ui-button-text-icon-primary .ui-icon, .ui-button-text-icon-secondary .ui-icon, .ui-button-text-icons .ui-icon, .ui-button-icons-only .ui-icon {
    position: absolute;
    top: 50%;
    margin-top: -8px
}

.ui-button-icon-only .ui-icon {
    left: 50%;
    margin-left: -8px
}

.ui-button-text-icon-primary .ui-button-icon-primary, .ui-button-text-icons .ui-button-icon-primary, .ui-button-icons-only .ui-button-icon-primary {
    left: .5em
}

.ui-button-text-icon-secondary .ui-button-icon-secondary, .ui-button-text-icons .ui-button-icon-secondary, .ui-button-icons-only .ui-button-icon-secondary {
    right: .5em
}

.ui-buttonset {
    margin-right: 7px
}

.ui-buttonset .ui-button {
    margin-left: 0;
    margin-right: -.3em
}

input.ui-button::-moz-focus-inner, button.ui-button::-moz-focus-inner {
    border: 0;
    padding: 0
}

.ui-dialog {
    position: absolute;
    top: 0;
    left: 0;
    padding: .2em;
    outline: 0
}

.ui-dialog .ui-dialog-titlebar {
    padding: .4em 1em;
    position: relative
}

.ui-dialog .ui-dialog-title {
    float: left;
    margin: .1em 0;
    white-space: nowrap;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis
}

.ui-dialog .ui-dialog-titlebar-close {
    position: absolute;
    right: .3em;
    top: 50%;
    width: 21px;
    margin: -10px 0 0 0;
    padding: 1px;
    height: 20px
}

.ui-dialog .ui-dialog-content {
    position: relative;
    border: 0;
    padding: .5em 1em;
    background: 0;
    overflow: auto
}

.ui-dialog .ui-dialog-buttonpane {
    text-align: left;
    border-width: 1px 0 0 0;
    background-image: none;
    margin-top: .5em;
    padding: .3em 1em .5em .4em
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: right
}

.ui-dialog .ui-dialog-buttonpane button {
    margin: .5em .4em .5em 0;
    cursor: pointer
}

.ui-dialog .ui-resizable-se {
    width: 12px;
    height: 12px;
    right: -5px;
    bottom: -5px;
    background-position: 16px 16px
}

.ui-draggable .ui-dialog-titlebar {
    cursor: move
}

.ui-menu {
    list-style: none;
    padding: 2px;
    margin: 0;
    display: block;
    outline: 0
}

.ui-menu .ui-menu {
    margin-top: -3px;
    position: absolute
}

.ui-menu .ui-menu-item {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7)
}

.ui-menu .ui-menu-divider {
    margin: 5px -2px 5px -2px;
    height: 0;
    font-size: 0;
    line-height: 0;
    border-width: 1px 0 0 0
}

.ui-menu .ui-menu-item a {
    text-decoration: none;
    display: block;
    padding: 2px .4em;
    line-height: 1.5;
    min-height: 0;
    font-weight: normal
}

.ui-menu .ui-menu-item a.ui-state-focus, .ui-menu .ui-menu-item a.ui-state-active {
    font-weight: normal;
    margin: -1px
}

.ui-menu .ui-state-disabled {
    font-weight: normal;
    margin: .4em 0 .2em;
    line-height: 1.5
}

.ui-menu .ui-state-disabled a {
    cursor: default
}

.ui-menu-icons {
    position: relative
}

.ui-menu-icons .ui-menu-item a {
    position: relative;
    padding-left: 2em
}

.ui-menu .ui-icon {
    position: absolute;
    top: .2em;
    left: .2em
}

.ui-menu .ui-menu-icon {
    position: static;
    float: right
}

.ui-spinner {
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding: 0;
    vertical-align: middle
}

.ui-spinner-input {
    border: 0;
    background: 0;
    color: inherit;
    padding: 0;
    margin: .2em 0;
    vertical-align: middle;
    margin-left: .4em;
    margin-right: 22px
}

.ui-spinner-button {
    width: 16px;
    height: 50%;
    font-size: .5em;
    padding: 0;
    margin: 0;
    text-align: center;
    position: absolute;
    cursor: default;
    display: block;
    overflow: hidden;
    right: 0
}

.ui-spinner a.ui-spinner-button {
    border-top: 0;
    border-bottom: 0;
    border-right: 0
}

.ui-spinner .ui-icon {
    position: absolute;
    margin-top: -8px;
    top: 50%;
    left: 0
}

.ui-spinner-up {
    top: 0
}

.ui-spinner-down {
    bottom: 0
}

.ui-spinner .ui-icon-triangle-1-s {
    background-position: -65px -16px
}

.ui-tabs {
    position: relative;
    padding: .2em
}

.ui-tabs .ui-tabs-nav {
    margin: 0;
    padding: .2em .2em 0
}

.ui-tabs .ui-tabs-nav li {
    list-style: none;
    float: left;
    position: relative;
    top: 0;
    margin: 1px .2em 0 0;
    border-bottom-width: 0;
    padding: 0;
    white-space: nowrap
}

.ui-tabs .ui-tabs-nav li a {
    float: left;
    padding: .5em 1em;
    text-decoration: none
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active {
    margin-bottom: -1px;
    padding-bottom: 1px
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-tabs-loading a {
    cursor: text
}

.ui-tabs .ui-tabs-nav li a, .ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a {
    cursor: pointer
}

.ui-tabs .ui-tabs-panel {
    display: block;
    border-width: 0;
    padding: 1em 1.4em;
    background: 0
}

.ui-tooltip {
    padding: 8px;
    position: absolute;
    z-index: 9999;
    max-width: 300px;
    -webkit-box-shadow: 0 0 5px #aaa;
    box-shadow: 0 0 5px #aaa
}

body .ui-tooltip {
    border-width: 2px
}

.ui-widget {
    font-family: Verdana, Arial, sans-serif;
    font-size: 1em
}

.ui-widget .ui-widget {
    font-size: 1em
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-family: Verdana, Arial, sans-serif;
    font-size: 1em
}

.ui-widget-content {
    border: 1px solid #aaa;
    background: #fff url(images/ui-bg_flat_75_ffffff_40x100.v14850.png) 50% 50% repeat-x;
    color: #222
}

.ui-widget-content a {
    color: #222
}

.ui-widget-header {
    border: 1px solid #aaa;
    background: #ccc url(images/ui-bg_highlight-soft_75_cccccc_1x100.v14850.png) 50% 50% repeat-x;
    color: #222;
    font-weight: bold
}

.ui-widget-header a {
    color: #222
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 1px solid #d3d3d3;
    background: #e6e6e6 url(images/ui-bg_glass_75_e6e6e6_1x400.v14850.png) 50% 50% repeat-x;
    font-weight: normal;
    color: #555
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
    color: #555;
    text-decoration: none
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    border: 1px solid #999;
    background: #dadada url(images/ui-bg_glass_75_dadada_1x400.v14850.png) 50% 50% repeat-x;
    font-weight: normal;
    color: #212121
}

.ui-state-hover a, .ui-state-hover a:hover, .ui-state-hover a:link, .ui-state-hover a:visited {
    color: #212121;
    text-decoration: none
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    border: 1px solid #aaa;
    background: #fff url(images/ui-bg_glass_65_ffffff_1x400.v14850.png) 50% 50% repeat-x;
    font-weight: normal;
    color: #212121
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: #212121;
    text-decoration: none
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: 1px solid #fcefa1;
    background: #fbf9ee url(images/ui-bg_glass_55_fbf9ee_1x400.v14850.png) 50% 50% repeat-x;
    color: #363636
}

.ui-state-highlight a, .ui-widget-content .ui-state-highlight a, .ui-widget-header .ui-state-highlight a {
    color: #363636
}

.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {
    border: 1px solid #cd0a0a;
    background: #fef1ec url(images/ui-bg_glass_95_fef1ec_1x400.v14850.png) 50% 50% repeat-x;
    color: #cd0a0a
}

.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a {
    color: #cd0a0a
}

.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text {
    color: #cd0a0a
}

.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary {
    font-weight: bold
}

.ui-priority-secondary, .ui-widget-content .ui-priority-secondary, .ui-widget-header .ui-priority-secondary {
    opacity: .7;
    filter: Alpha(Opacity=70);
    font-weight: normal
}

.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
    opacity: .35;
    filter: Alpha(Opacity=35);
    background-image: none
}

.ui-state-disabled .ui-icon {
    filter: Alpha(Opacity=35)
}

.ui-icon {
    width: 16px;
    height: 16px
}

.ui-icon, .ui-widget-content .ui-icon {
    background-image: url(images/ui-icons_222222_256x240.v14850.png)
}

.ui-widget-header .ui-icon {
    background-image: url(images/ui-icons_222222_256x240.v14850.png)
}

.ui-state-default .ui-icon {
    background-image: url(images/ui-icons_888888_256x240.v14850.png)
}

.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {
    background-image: url(images/ui-icons_454545_256x240.v14850.png)
}

.ui-state-active .ui-icon {
    background-image: url(images/ui-icons_454545_256x240.v14850.png)
}

.ui-state-highlight .ui-icon {
    background-image: url(images/ui-icons_2e83ff_256x240.v14850.png)
}

.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {
    background-image: url(images/ui-icons_cd0a0a_256x240.v14850.png)
}

.ui-icon-blank {
    background-position: 16px 16px
}

.ui-icon-carat-1-n {
    background-position: 0 0
}

.ui-icon-carat-1-ne {
    background-position: -16px 0
}

.ui-icon-carat-1-e {
    background-position: -32px 0
}

.ui-icon-carat-1-se {
    background-position: -48px 0
}

.ui-icon-carat-1-s {
    background-position: -64px 0
}

.ui-icon-carat-1-sw {
    background-position: -80px 0
}

.ui-icon-carat-1-w {
    background-position: -96px 0
}

.ui-icon-carat-1-nw {
    background-position: -112px 0
}

.ui-icon-carat-2-n-s {
    background-position: -128px 0
}

.ui-icon-carat-2-e-w {
    background-position: -144px 0
}

.ui-icon-triangle-1-n {
    background-position: 0 -16px
}

.ui-icon-triangle-1-ne {
    background-position: -16px -16px
}

.ui-icon-triangle-1-e {
    background-position: -32px -16px
}

.ui-icon-triangle-1-se {
    background-position: -48px -16px
}

.ui-icon-triangle-1-s {
    background-position: -64px -16px
}

.ui-icon-triangle-1-sw {
    background-position: -80px -16px
}

.ui-icon-triangle-1-w {
    background-position: -96px -16px
}

.ui-icon-triangle-1-nw {
    background-position: -112px -16px
}

.ui-icon-triangle-2-n-s {
    background-position: -128px -16px
}

.ui-icon-triangle-2-e-w {
    background-position: -144px -16px
}

.ui-icon-arrow-1-n {
    background-position: 0 -32px
}

.ui-icon-arrow-1-ne {
    background-position: -16px -32px
}

.ui-icon-arrow-1-e {
    background-position: -32px -32px
}

.ui-icon-arrow-1-se {
    background-position: -48px -32px
}

.ui-icon-arrow-1-s {
    background-position: -64px -32px
}

.ui-icon-arrow-1-sw {
    background-position: -80px -32px
}

.ui-icon-arrow-1-w {
    background-position: -96px -32px
}

.ui-icon-arrow-1-nw {
    background-position: -112px -32px
}

.ui-icon-arrow-2-n-s {
    background-position: -128px -32px
}

.ui-icon-arrow-2-ne-sw {
    background-position: -144px -32px
}

.ui-icon-arrow-2-e-w {
    background-position: -160px -32px
}

.ui-icon-arrow-2-se-nw {
    background-position: -176px -32px
}

.ui-icon-arrowstop-1-n {
    background-position: -192px -32px
}

.ui-icon-arrowstop-1-e {
    background-position: -208px -32px
}

.ui-icon-arrowstop-1-s {
    background-position: -224px -32px
}

.ui-icon-arrowstop-1-w {
    background-position: -240px -32px
}

.ui-icon-arrowthick-1-n {
    background-position: 0 -48px
}

.ui-icon-arrowthick-1-ne {
    background-position: -16px -48px
}

.ui-icon-arrowthick-1-e {
    background-position: -32px -48px
}

.ui-icon-arrowthick-1-se {
    background-position: -48px -48px
}

.ui-icon-arrowthick-1-s {
    background-position: -64px -48px
}

.ui-icon-arrowthick-1-sw {
    background-position: -80px -48px
}

.ui-icon-arrowthick-1-w {
    background-position: -96px -48px
}

.ui-icon-arrowthick-1-nw {
    background-position: -112px -48px
}

.ui-icon-arrowthick-2-n-s {
    background-position: -128px -48px
}

.ui-icon-arrowthick-2-ne-sw {
    background-position: -144px -48px
}

.ui-icon-arrowthick-2-e-w {
    background-position: -160px -48px
}

.ui-icon-arrowthick-2-se-nw {
    background-position: -176px -48px
}

.ui-icon-arrowthickstop-1-n {
    background-position: -192px -48px
}

.ui-icon-arrowthickstop-1-e {
    background-position: -208px -48px
}

.ui-icon-arrowthickstop-1-s {
    background-position: -224px -48px
}

.ui-icon-arrowthickstop-1-w {
    background-position: -240px -48px
}

.ui-icon-arrowreturnthick-1-w {
    background-position: 0 -64px
}

.ui-icon-arrowreturnthick-1-n {
    background-position: -16px -64px
}

.ui-icon-arrowreturnthick-1-e {
    background-position: -32px -64px
}

.ui-icon-arrowreturnthick-1-s {
    background-position: -48px -64px
}

.ui-icon-arrowreturn-1-w {
    background-position: -64px -64px
}

.ui-icon-arrowreturn-1-n {
    background-position: -80px -64px
}

.ui-icon-arrowreturn-1-e {
    background-position: -96px -64px
}

.ui-icon-arrowreturn-1-s {
    background-position: -112px -64px
}

.ui-icon-arrowrefresh-1-w {
    background-position: -128px -64px
}

.ui-icon-arrowrefresh-1-n {
    background-position: -144px -64px
}

.ui-icon-arrowrefresh-1-e {
    background-position: -160px -64px
}

.ui-icon-arrowrefresh-1-s {
    background-position: -176px -64px
}

.ui-icon-arrow-4 {
    background-position: 0 -80px
}

.ui-icon-arrow-4-diag {
    background-position: -16px -80px
}

.ui-icon-extlink {
    background-position: -32px -80px
}

.ui-icon-newwin {
    background-position: -48px -80px
}

.ui-icon-refresh {
    background-position: -64px -80px
}

.ui-icon-shuffle {
    background-position: -80px -80px
}

.ui-icon-transfer-e-w {
    background-position: -96px -80px
}

.ui-icon-transferthick-e-w {
    background-position: -112px -80px
}

.ui-icon-folder-collapsed {
    background-position: 0 -96px
}

.ui-icon-folder-open {
    background-position: -16px -96px
}

.ui-icon-document {
    background-position: -32px -96px
}

.ui-icon-document-b {
    background-position: -48px -96px
}

.ui-icon-note {
    background-position: -64px -96px
}

.ui-icon-mail-closed {
    background-position: -80px -96px
}

.ui-icon-mail-open {
    background-position: -96px -96px
}

.ui-icon-suitcase {
    background-position: -112px -96px
}

.ui-icon-comment {
    background-position: -128px -96px
}

.ui-icon-person {
    background-position: -144px -96px
}

.ui-icon-print {
    background-position: -160px -96px
}

.ui-icon-trash {
    background-position: -176px -96px
}

.ui-icon-locked {
    background-position: -192px -96px
}

.ui-icon-unlocked {
    background-position: -208px -96px
}

.ui-icon-bookmark {
    background-position: -224px -96px
}

.ui-icon-tag {
    background-position: -240px -96px
}

.ui-icon-home {
    background-position: 0 -112px
}

.ui-icon-flag {
    background-position: -16px -112px
}

.ui-icon-calendar {
    background-position: -32px -112px
}

.ui-icon-cart {
    background-position: -48px -112px
}

.ui-icon-pencil {
    background-position: -64px -112px
}

.ui-icon-clock {
    background-position: -80px -112px
}

.ui-icon-disk {
    background-position: -96px -112px
}

.ui-icon-calculator {
    background-position: -112px -112px
}

.ui-icon-zoomin {
    background-position: -128px -112px
}

.ui-icon-zoomout {
    background-position: -144px -112px
}

.ui-icon-search {
    background-position: -160px -112px
}

.ui-icon-wrench {
    background-position: -176px -112px
}

.ui-icon-gear {
    background-position: -192px -112px
}

.ui-icon-heart {
    background-position: -208px -112px
}

.ui-icon-star {
    background-position: -224px -112px
}

.ui-icon-link {
    background-position: -240px -112px
}

.ui-icon-cancel {
    background-position: 0 -128px
}

.ui-icon-plus {
    background-position: -16px -128px
}

.ui-icon-plusthick {
    background-position: -32px -128px
}

.ui-icon-minus {
    background-position: -48px -128px
}

.ui-icon-minusthick {
    background-position: -64px -128px
}

.ui-icon-close {
    background-position: -80px -128px
}

.ui-icon-closethick {
    background-position: -96px -128px
}

.ui-icon-key {
    background-position: -112px -128px
}

.ui-icon-lightbulb {
    background-position: -128px -128px
}

.ui-icon-scissors {
    background-position: -144px -128px
}

.ui-icon-clipboard {
    background-position: -160px -128px
}

.ui-icon-copy {
    background-position: -176px -128px
}

.ui-icon-contact {
    background-position: -192px -128px
}

.ui-icon-image {
    background-position: -208px -128px
}

.ui-icon-video {
    background-position: -224px -128px
}

.ui-icon-script {
    background-position: -240px -128px
}

.ui-icon-alert {
    background-position: 0 -144px
}

.ui-icon-info {
    background-position: -16px -144px
}

.ui-icon-notice {
    background-position: -32px -144px
}

.ui-icon-help {
    background-position: -48px -144px
}

.ui-icon-check {
    background-position: -64px -144px
}

.ui-icon-bullet {
    background-position: -80px -144px
}

.ui-icon-radio-on {
    background-position: -96px -144px
}

.ui-icon-radio-off {
    background-position: -112px -144px
}

.ui-icon-pin-w {
    background-position: -128px -144px
}

.ui-icon-pin-s {
    background-position: -144px -144px
}

.ui-icon-play {
    background-position: 0 -160px
}

.ui-icon-pause {
    background-position: -16px -160px
}

.ui-icon-seek-next {
    background-position: -32px -160px
}

.ui-icon-seek-prev {
    background-position: -48px -160px
}

.ui-icon-seek-end {
    background-position: -64px -160px
}

.ui-icon-seek-start {
    background-position: -80px -160px
}

.ui-icon-seek-first {
    background-position: -80px -160px
}

.ui-icon-stop {
    background-position: -96px -160px
}

.ui-icon-eject {
    background-position: -112px -160px
}

.ui-icon-volume-off {
    background-position: -128px -160px
}

.ui-icon-volume-on {
    background-position: -144px -160px
}

.ui-icon-power {
    background-position: 0 -176px
}

.ui-icon-signal-diag {
    background-position: -16px -176px
}

.ui-icon-signal {
    background-position: -32px -176px
}

.ui-icon-battery-0 {
    background-position: -48px -176px
}

.ui-icon-battery-1 {
    background-position: -64px -176px
}

.ui-icon-battery-2 {
    background-position: -80px -176px
}

.ui-icon-battery-3 {
    background-position: -96px -176px
}

.ui-icon-circle-plus {
    background-position: 0 -192px
}

.ui-icon-circle-minus {
    background-position: -16px -192px
}

.ui-icon-circle-close {
    background-position: -32px -192px
}

.ui-icon-circle-triangle-e {
    background-position: -48px -192px
}

.ui-icon-circle-triangle-s {
    background-position: -64px -192px
}

.ui-icon-circle-triangle-w {
    background-position: -80px -192px
}

.ui-icon-circle-triangle-n {
    background-position: -96px -192px
}

.ui-icon-circle-arrow-e {
    background-position: -112px -192px
}

.ui-icon-circle-arrow-s {
    background-position: -128px -192px
}

.ui-icon-circle-arrow-w {
    background-position: -144px -192px
}

.ui-icon-circle-arrow-n {
    background-position: -160px -192px
}

.ui-icon-circle-zoomin {
    background-position: -176px -192px
}

.ui-icon-circle-zoomout {
    background-position: -192px -192px
}

.ui-icon-circle-check {
    background-position: -208px -192px
}

.ui-icon-circlesmall-plus {
    background-position: 0 -208px
}

.ui-icon-circlesmall-minus {
    background-position: -16px -208px
}

.ui-icon-circlesmall-close {
    background-position: -32px -208px
}

.ui-icon-squaresmall-plus {
    background-position: -48px -208px
}

.ui-icon-squaresmall-minus {
    background-position: -64px -208px
}

.ui-icon-squaresmall-close {
    background-position: -80px -208px
}

.ui-icon-grip-dotted-vertical {
    background-position: 0 -224px
}

.ui-icon-grip-dotted-horizontal {
    background-position: -16px -224px
}

.ui-icon-grip-solid-vertical {
    background-position: -32px -224px
}

.ui-icon-grip-solid-horizontal {
    background-position: -48px -224px
}

.ui-icon-gripsmall-diagonal-se {
    background-position: -64px -224px
}

.ui-icon-grip-diagonal-se {
    background-position: -80px -224px
}

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 4px
}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 4px
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 4px
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 4px
}

.ui-widget-overlay {
    background: #aaa url(images/ui-bg_flat_0_aaaaaa_40x100.v14850.png) 50% 50% repeat-x;
    opacity: .3;
    filter: Alpha(Opacity=30)
}

.ui-widget-shadow {
    margin: -8px 0 0 -8px;
    padding: 8px;
    background: #aaa url(images/ui-bg_flat_0_aaaaaa_40x100.v14850.png) 50% 50% repeat-x;
    opacity: .3;
    filter: Alpha(Opacity=30);
    border-radius: 8px
}

.ui-accordion .ui-accordion-header {
    color: #465ca8;
    font-weight: bold;
    padding-top: .3em;
    padding-bottom: .3em
}

.ui-autocomplete {
    font-size: 70%;
    max-height: 23em;
    overflow-x: hidden;
    overflow-y: auto
}

.ui-autocomplete-loading {
    background: white url("images/indicator.v14850.gif") no-repeat right center
}

.ui-tooltip {
    background: #ffc none;
    font-size: 90%
}

.ui-tabs {
    padding: 0
}

.ui-tabs .ui-tabs-panel {
    padding: .5em .6em
}

.filterbox .ui-icon {
    display: inline-block;
    margin-right: .1em;
    vertical-align: text-bottom
}

.ui-widget-overlay {
    background: #000
}

.loadingModal {
    text-align: center
}

.loadingModal .ui-dialog-titlebar-close {
    display: none
}

.dialogframe {
    border: 0;
    height: 99%;
    width: 99%;
    margin: 0;
    padding: 0
}

.cloud a {
    margin-right: 5px;
    text-decoration: none
}

.cloud .chem {
    color: #069
}

.cloud a.chem:hover {
    background: #069 none
}

.cloud .disease {
    color: #930
}

.cloud a.disease:hover {
    background: #930 none
}

.cloud .gene {
    color: #090
}

.cloud a.gene:hover {
    background: #090 none
}

#datadiagram {
    width: 203px;
    height: 216px;
    position: relative;
    background: #fff url("images/datadiagram_w_exo.v14850.png") no-repeat 0 0
}

#datadiagram ul {
    margin: 0;
    padding: 0;
    list-style: none
}

#datadiagram a {
    position: absolute;
    width: 57px;
    height: 57px;
    text-indent: -1000em
}

#datadiagram a:hover {
    border: 1px solid #00f
}

#datadiagram .ixns a {
    top: 58px;
    left: 47px;
    width: 34px;
    height: 60px
}

#datadiagram .chemicals a {
    top: 2px;
    left: 66px;
    width: 63px;
    height: 61px
}

#datadiagram .go a {
    top: 38px;
    left: 1px
}

#datadiagram .pathways a {
    top: 38px;
    left: 131px
}

#datadiagram .genes a {
    top: 111px;
    left: 1px
}

#datadiagram .diseases a {
    top: 113px;
    left: 133px
}

#datadiagram .exposure a {
    top: 147px;
    left: 66px;
    width: 63px;
    height: 61px
}

@media print {
    #header .rightimg, #nav, #subnav, #footernav, .jumpnav, .helplink, .helplinkajax, .pagehelplink, .toplink, .termbox .prompt, .exportlinks, #pagetoc, .pageserieslinks, .paging, #toolbarcontainer {
        display: none !important
    }
    body {
        color: #000 !important;
        margin: 0 !important
    }
    body, #footer {
        float: none !important;
        width: auto !important;
        padding: 0 !important
    }
    a:link, a:visited {
        text-decoration: none !important
    }
    abbr[title]:after {
        content: " (" attr(title) ")"
    }
    abbr[title], acronym[title] {
        border-bottom-width: 0
    }
    thead {
        display: table-header-group
    }
    tr, img {
        page-break-inside: avoid
    }
    p, h2, h3 {
        page-break-after: avoid;
        orphans: 3;
        widows: 3
    }
    img {
        max-width: 100% !important
    }
    @page {
        margin: .5cm
    }
    #header {
        border-bottom: 2px solid #465ca8 !important
    }
    .termbox {
        border-bottom: 1px solid #000 !important
    }
    pre, code {
        vertical-align: baseline
    }
    h1 {
        color: #000 !important;
        margin-bottom: 1em !important
    }
    h2 {
        font-size: 110% !important;
        border-bottom: none !important
    }
    h2 .text {
        padding: 0 !important;
        color: #000 !important;
        background: #fff none !important
    }
    th a {
        color: #000 !important;
        text-decoration: none;
        background-image: none !important
    }
    .datatable {
        border-collapse: collapse !important
    }
    .datatable td, .datatable th {
        border: 1px solid #ccc !important;
        padding: 2px 3px !important
    }
    #datadiagram {
        background: 0;
        display: list-item;
        list-style: inside url("images/datadiagram.v14850.png");
        margin: 0 !important;
        padding: 0 !important
    }
    .moreless {
        display: inline-block !important
    }
    .data, .compdata {
        display: block !important
    }
}
